<h1>Welcome to Sitter Gitter</h1>
<p> With Sitter Gitter it takes just a few clicks to send a request to all selected sitters in your sitter list.</p>
<br>
<h4>Click on "Sign Up" to get started</h4>
<li>Be sure to enter your name as you want it to be displayed in the text messages you will send out.</li>
<li>Also, your cell phone number entered needs to be able to receive a text message.</li>
<br>
<h4>Create your Sitter List</h4>
<li>Enter the sitters name and cell phone that is able to receive a text message.</li>
<li>Only sitters that are selected, at the time a message is sent, will receive a sitter request text message.</li>
<br>
<h4>Click "Git Sitter" to send a sitter request</h4>
<li>Select the date, time and how long.</li>
<li>If needed enter a custom message (see message format below).</li>
<li>Click send to send a text to all your current selected sitters in your sitter list.</li>
<br>
<br>
<h4>Text Message Example</h4>
<br>
<textarea rows="13" cols="25">
Hi this is (Your Name).  I'm in need of a babysitter, Fri, Mar 25, 7:00 PM for 3 hours.

(Custom Message)

Please text or call back to (your phone number) and let me know if you would be available.

Thank you! 
</textarea>
