<h1>Edit Sitter</h1>
<br>
<%= render 'form' %><br>

<%= link_to 'Back', sitters_path, class: 'btn btn-primary' %>
<%= link_to "Delete", @sitter, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>